
/* get rid of the jerkiness */
/* http://www.howtocreate.co.uk/emails/LinusSylven.html */
body {
	background-image: url("images/trans.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* http://www.howtocreate.co.uk/fixedPosition.html */

#menu-top {

/* IE5.5+/Win - this is more specific than the IE 5.0 version */

left: expression( ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) + 'px' );

top: expression( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) + 'px' );


}

