body { color: #555555; border:0; margin:0; }

a { color: rgb(85, 119, 153); text-decoration:none; }
a:hover { color:green; }

p { padding-left: 2em; }

.links ul { list-style-type:none; }

.clearfix { clear: both; }

#menu-top { background-color:#333333; padding:0.1em 0.5em; width:100%; }
#menu     { float:right; }
#menu div { margin:0 0.5em; padding:0; display:inline-block; }

#content { padding:1em; background: url(/images/bg.png) repeat-x top left; }

#forsaken-cover { float:right; height:170px; margin:0 0 1em 1em; }
#videos , #description { margin:0 0.5em; }
#description { float: left; }
#videos { float: right; }
