
body {
	color: #555555;
	border:0;
	margin:0;
}

a {
	color: rgb(85, 119, 153);
	text-decoration:none;
}

a:hover {
	color:green;
}

h1 a, h2 a, h3 a {
	color:inherit;
	color: #555555; /* ie sucks */
}

ul {
	list-style-type:none;
}

p {
	padding-left: 2em;
}

#news ul { list-style-type:inherit; }
#news li { margin:0.8em 0; }

#forsaken-cover {
	float:right;
	height:170px;
	margin:0 0 1em 1em;
}

.video {
	float:right;
	padding:1em;
}

#videos .video h2 {
	text-align:center;
}

.links h1 {
	display:inline-block; /* ie has layout bug */
}

.links h2 {
	margin-top:0;
}

.links {
	float:left;
	margin:0 1em;
}

.padding { padding:1em; }
.padding .padding { padding:0 1em; }

.left { float: left; }
.right { float: right; }

/* break floaters */
.clearfix { clear: both; }

/*
 *  Page Deviders
 */

.border {
	background: url(/images/bg.png) repeat-x top left; 
	border:0.5em solid #333;
	/* another ie bug makes me write weird */
	/* these should be 0 but ie draws them at 0.5em */
	/* so I'm forced to give them a 1px height */
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}

.devider {
	/* i do it this way because ie sucks */
	/* id doesn't handle height:0.5em; properly */
	/* normally i would of just used height+background-color */
	/* but this is fine */
	border-top:0.5em solid #333333;
}

/*
 * Menu
 */


/* move top of page down */
#intro {
	padding-top:1em;
}

#menu-top {
	background-color:#333;
	width:100%;
	z-index:100;
}

#menu-top a { float:right; }
